<% layout('layout') %>
<div class="center">
    <h1><%=message%></h1>    
    <% if(logStatus){%>
        <div class="profile">
            <p>帳號：<%- data.account %></p>
            <p>姓名：<%- data.name %></p>
            <p>電話：<%- data.phone %></p>
            <p>地址：<%- data.address %></p>
        </div>
    <%}%>
</div>

